//@import 'libs/bourbon'; // http://bourbon.io/
@import 'variables/*';
@import 'partials/*';

*, *::after, *::before {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font: {
		size: 1.6rem;
		family: $fPrimary; // variables inside partials > _variables.scss
	}
	color: $cPrimary;
	background-color: $cDefault;
}

a {
	color: $cSecondary;
	text-decoration: none;
}